  body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #7cc46c;
	}

	.left-center {
    display: flex;
    align-items: center;     		
    justify-content: left;	
    height: 3rem; 			
    padding-left: 65rem;
  }

  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-box {
    background-color: white;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 6px;
    width: 320px;
  }

  .form-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    background: #f2f2f2;
    font-size: 14px;
    border-radius: 4px;
  }

  .form-box button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-box button:hover {
    background-color: #45a049;
  }

  .form-footer {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
  }

  .form-footer a {
    color: #4CAF50;
    text-decoration: none;
  }

  .form-footer a:hover {
    text-decoration: underline;
  }

  .form-box label {
    display: block;
    margin-bottom: -5px;
    font-weight: bold;
    font-size: 14px;
  }

  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }