{% extends "usuarios/header_user.html" %}
{% block content %}

<style>
    .profile-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .form-box {
        background-color: white;
        padding: 40px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 6px;
        width: 320px;
    }

    .form-box label {
        display: block;
        margin-bottom: -5px;
        font-weight: bold;
        font-size: 14px;
    }

    .form-box input {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        border: none;
        background: #f2f2f2;
        font-size: 14px;
        border-radius: 4px;
    }

    .form-box button {
        width: 100%;
        padding: 12px;
        background-color: #4CAF50;
        color: white;
        border: none;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
    }

    .info-box {
        margin-bottom: 15px;
    }

    .form-footer {
        text-align: center;
        margin-top: 15px;
        font-size: 13px;
    }

    .form-footer a {
        color: #4CAF50;
        text-decoration: none;
    }

    .form-footer a:hover {
        text-decoration: underline;
    }
</style>


    <div class="profile-container">
        <div class="form-box">
            <form action= "{% url 'perfil' %}" method = "POST"> {% csrf_token %}
                
                <div class="info-box">
                    <label>Usuário</label>
                    <input type="text" value="{{ user.username }}" readonly>
                </div>

                <div class="info-box">
                    <label>Email</label>
                    <input type="text" value="{{ user.email }}" readonly>
                </div>
                
                <div class="info-box">
                    <label>Hobby</label>
                    <input type="text" value="{{ user.hobby|default:'Não informado' }}" readonly>
                </div>

                <div class="info-box">
                    <label>Data de Nascimento</label>
                    <input type="text" value="{{ user.birth_date|date:'d/m/Y'|default:'Não informado' }}" readonly>
                </p>
                </div>

            </form>

            <div class="form-footer">
                Edit your account? <a href="{% url 'perfil' %}">Click here</a>
            </div>
        </div>
    </div>

{% endblock %}